<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abara.fireclip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FireClipApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DeviceNameActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".FileUploadActivity"
            android:excludeFromRecents="true"
            android:label="@string/fireclip_copy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>

        <service android:name=".service.ClipboardService" />
        <service android:name=".service.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AcceptClipActionReceiver" />
        <receiver android:name=".receiver.AcceptFileActionReceiver" />

        <!-- Using FileProvider class on API >= 24
        to give file access to external apps-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.abara.fireclip.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>